<div id="ok" data-role="fieldcontain">
            <a href="index.html" data-role="button">OK Home</a>
</div>
<div data-role="fieldcontain">
    <label for="settings-save-photo-to-gallery">Save photos to phone gallery:</label>
    <select id="settings-save-photo-to-gallery"
        data-role="slider"
        name="settings-entry">
        <option value="Yes">Yes</option>
        <option value="No">No</option>
    </select>
</div>
<div data-role="fieldcontain">
    <label for="settings-theme-select" class="select">Select theme:</label>
    <select id="settings-theme-select" name="settings-entry">
        <option value="water">Water</option>
        <option value="fieldtripgb">FieldtripGB</option>
        <option value="default">Default</option>
    </select>    
</div>
